---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

2019 - "ChromoTrace: Computational reconstruction of 3D chromosome
configurations for super-resolution microscopy", *Internal seminar*,
European Bioinformatics Institute, Wellcome Trust Genome Campus,
Cambridge, UK.

2018 - "ChromoTrace: Computational reconstruction of 3D chromosome
configurations for super-resolution microscopy", *4D Nucleome Annual
Meeting*, San Diego, CA, USA.

2017, - "Investigating 3D genome structure via super resolution
microscopy", *Internal seminar*, European Bioinformatics Institute,
Wellcome Trust Genome Campus, Cambridge, UK.

2015 - "Investigating the Epigenetics of Ageing in Dogs", *Invited
talk*, *2nd Bioinformatics Student Symposium*, Earlham Institute, UK.

2015 - "Methods for Investigating the Dynamics of Epigenetic Change",
*Internal seminar*, Blizard Institute, Barts and The London School of
Medicine and Dentistry, Queen Mary University of London, UK.

2014 - "Optimal Computation of All Tandem Repeats in a Weighted String",
*2nd International Conference on Algorithms for Big Data*.

2014 - "Optimal Computation of All Tandem Repeats in a Weighted String",
*Internal seminar*, Department of Informatics, King's College London,
UK.

2013 - "GapsMis: Flexible Sequence Alignment with a Bounded Number of
Gaps", *ACM International Conference on Bioinformatics, Computational
Biology and Biomedical Informatics*.

2012 - "Querying Highly Similar Structured Sequences via Binary Encoding
and Word Level Operations", *Artificial Intelligence Applications and
Innovations*.

2012 - "Conceptualization, Significance Study of a New Application
CS-MIR", *Artificial Intelligence Applications and Innovations*.

2012 - "Melodic String Matching Via Interval Consolidation And
Fragmentation", *Artificial Intelligence Applications and Innovations*.

2012 - "Querying Highly Similar Sequences" *London-Cape Town NGS
Meeting*, Department of Informatics, King's College London, UK.

2012 - "Querying Highly Similar Sequences" *International Conference on
Intelligent Biology and Medicine*.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
